
body{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
/* header section */
header{
    background-color: #876AF3;
    padding: 15px 0;
}
.wrapper{
    width: 1200px;
    margin: auto;

}
.logo{
    width: 20%;
    float: left;
}
.logo a{}
.logo a img{}


/* Nav section */
nav{
    width: 80%;
    float: left;
}
nav ul{}
nav ul li{}
nav ul li a{}


